[user]
	email = andrey.teplyashin@eltex.loc
	name = Andrey Teplyashin
[core]
	editor = git
	editor = /usr/bin/vim
[color]
	ui = always
[merge]
	tool = /home/thinker/scripts/vimdiff.sh
[mergetool "diffconflicts"]
	cmd = /home/thinker/scripts/vimdiff.sh vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
